*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.main-container{
    background-image: url(background-image.jpg);
    background-size: 100vw;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: var(--vh);
    scroll-behavior:smooth;    
}

.sidemenu{
    position: fixed;
    right: 0;
    top: 0;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #000032;
}

.content{
    width: 85vw;
}

.link{
    text-decoration: none;
    padding: 0.5em;
    appearance: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: ivory;
}

#about{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-text{
    width: 70%;
    background-color: rgba(0, 0, 35, 0.75);
    border-radius: 2em;
    color: ivory;
    font-size: clamp(0.6rem, 0.7rem + 1vw, 2rem);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 2em;
    margin: 1em;
    overflow: visible;
}

.about-img{
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin: 1em;
}

#projects{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-grid{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 1em;
    justify-items: center;
    height: 100%;
    width: 100%;
    padding: 1em;
}

.grid-element-link{
    text-decoration: none;
    appearance: none;
    width: 100%;
}
.grid-element{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black 50%, rgb(0, 0, 151) 50%) top;
    background-size: 100% 201%;
    transition: .5s ease-in-out;
    border-radius: 2em;
    cursor: pointer;
    font-size: 2rem;
    color: black;
}

.grid-element:hover{
    background-position: bottom;
    color: white;
}

.project-text{
    padding: 1em;
    text-align: center;
}

#contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.logo{
    box-sizing: content-box;
    margin:1em;
    width: clamp(4vmin, 1rem + 5vw, 4rem);
    height: clamp(4vmin, 1rem + 5vw, 4rem);
    padding: 0.2em;
    background-color: ivory;
    border-radius: 0.5rem;
    cursor: pointer;
    background: #eee;
    border: 3px solid transparent;
    transition: .5s ease;
}

.logo:hover{
    background: #eee;
    border: 3px solid #A10000;
    transition: .5s ease;
}

.logo-image{
    width: clamp(20px, 1rem + 5vw, 4rem);
    height: clamp(20px, 1rem + 5vw, 4rem);
}

@media (max-width: 700px){
    .sidemenu{
        left: 0;
        top: 0;
        height: 3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        background-color: #000032;        
    }
    .link{
        align-self: center;
    }
    .content{
        width: 100%;
    }
    .grid-element{
        background: rgb(0, 0, 151) center;
        transition: 0s;
        color: white;
        font-size: 1.3rem;
    }
    #about{
        flex-direction: column;
    }
    .about-img{
        margin-top: 5em;
    }
    .about-text{
        width: auto;
    }
    .projects-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        margin-top: 3em;
    }
    .logo{
        margin: 0.4em;
    }
}
